#content {
    max-width: 1600px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
nav a{
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav a:hover {
    color: #aac8ded7;
    text-decoration: underline;
}
ul{
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 80px;
    border-radius: 25px;
}
body{
    background-color: #ffba45;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #d82101;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;

}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.gio{
    width: 50%;
    margin: 100px;
    grid-column: 1/2 span;
}
.discription{
    padding-top: 20%;
}
.options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.cookbook{
    width: 250px;
    height: 250px;
}
.tool{
    width: 250px;
    height: 250px;
}
.kids{
    width: 250px;
    height: 250px;
}
.catering{
    width: 250px;
    height: 250px;
}
ul{
    list-style: none;
}
.calander{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cal{
    padding-top: 90px;
    margin-bottom: -15%;
    margin-left: 50px;
}
.sign_up{
    text-align: center;
    margin: auto;

}
.texts{
    text-align: center;
}
.class_cal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.class_kids{
    width: 300px;
}
.class_adults{
    width: 300px;
}
.classes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 30px ;
}
.kids_adult{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.noodles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 25px;
}
.noodles_pic{
    width: 200px;
    height: 300px;
}
.cannoli_pic{
    width: 200px;
    height: 300px;
}
.frameboard{
    width: 560px;
    height: 315px;
    border-width: 0px;
}
.instructions{
    text-align: center;
}
.order{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.order :hover{
    color: white;
}
.cannolis{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img{
    padding-top: 15px;
}
footer h3 {
    color: aliceblue;
    text-decoration: none;
}
footer a {
    color: aliceblue;
}
footer a:hover {
    color: #042a46d7;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
